
h1 {
text-align: center; /* Center-align main heading */
color: #2f05ff;
font-weight: bold;
}
h2 {
color: hwb(65 0% 0%);
}
img {
margin: 10px;
}
.left {
float: left;
margin-right: 10px;
}
.center {
display: block;
margin: 10px auto;
}
.right {
float: right;
margin-left: 10px;
}
.flex-container{display: flex;
justify-content:center;

}
.product{justify-content:center;
padding: 1px;
color: aquamarine;

}
.my-Class {justify-content:center;}


.slider-container {
    width: 1000px;
    margin: 0 auto; /* Center the slider */
    overflow: hidden;
    position: relative; /* For positioning the price and buttons */
}

.slide {
    display: none; /* Initially hide all slides */
    width: 100%;
    height: 200px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.slide.active {
    display: block; /* Show the active slide */
}

.slide-info { /* Style for price and buttons */
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 10px;

}
